{% extends 'accounts/home.html' %}

{% block dashboard_content %}
<h3>Problem Management</h3>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Problem Details</h4>
            </div>
            <div class="card-body">
                <!-- Example Problem Data -->
                <ul class="list-group">
                    <li class="list-group-item">
                        <strong>Problem ID: </strong>#9876
                        <br>
                        <strong>Status: </strong>Resolved
                        <br>
                        <strong>Priority: </strong>Critical
                    </li>
                    <li class="list-group-item">
                        <strong>Problem ID: </strong>#9877
                        <br>
                        <strong>Status: </strong>Investigating
                        <br>
                        <strong>Priority: </strong>High
                    </li>
                </ul>
                <a href="#" class="btn btn-primary mt-3 w-100">View All Problems</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
